<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995751487783-jlaam6aiml8tlii4l6adakm0tpqunr0m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995751487783-jlaam6aiml8tlii4l6adakm0tpqunr0m</string>
	<key>API_KEY</key>
	<string>AIzaSyDbIkMTgy54MsznvHa8htKuDaHW5uy901c</string>
	<key>GCM_SENDER_ID</key>
	<string>995751487783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.du.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-e4442</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-e4442.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995751487783:ios:05837417cbe24ad0eb6102</string>
</dict>
</plist>